body {
    background-color: #f5f2ea;
    min-width: 100vh;
    height: 100%;
    /* margin: 0; */
    display: flex;
    font-family: 'Poppins', sans-serif;
}

hr {
    height: 2px;
    border: none;
    border-radius: 10px;
    background-color: black;
    opacity: 1;
}

.card {
    margin-top: 100px;
    max-width: 450px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1) ;
    border-radius: 15px;
    border: none;
    /* transform: translateX(-230px) translateY(100px); */
}

.card-body {
    margin: auto;
    text-align: center;
    width: 100%;
}

img {
    filter: drop-shadow(-4px 6px 10px rgba(0, 0, 0, 0.686));    
}

.form-floating {
    margin: 30px auto;
    width: 80%;
}

.btn-lgn {
    width: 70%;
    border-radius: 20px;
    margin-bottom: 30px;
}

#google-btn {
    border-radius: 10px;
    padding: 0 20px 0 20px;
    margin-left: -200px;
}